@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111d25;
  overflow-x: hidden;
  padding-top: 55.375px;
}

p {
  color: rgba(255, 255, 255, 0.6);
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0509803922);
}

::-webkit-scrollbar {
  width: 0.9rem;
  border-left: 1px solid rgba(255, 255, 255, 0.0509803922);
}

::-webkit-scrollbar-thumb {
  border: 0.3rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(152, 163, 179, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(28, 40, 48, 0.5);
}

dialog {
  opacity: 0;
  scale: 0;
  display: block;
  transition: scale 200ms ease-out, opacity 200ms ease-out;
}
dialog[open] {
  opacity: 1;
  scale: 1;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.8);
}

.markdown h1 {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #7ad367 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(122 211 103 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(174 243 158 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #aef39e var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #7dd3fc var(--tw-gradient-to-position);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 3.75rem;
  font-weight: 700;
}
.markdown a, .markdown p {
  font-size: 1rem;
}
.markdown a {
  color: #2c89e0;
}
.markdown p {
  color: rgba(255, 255, 255, 0.6);
}

.gradient {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #7ad367 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(122 211 103 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(174 243 158 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #aef39e var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #7dd3fc var(--tw-gradient-to-position);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

a.link {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #7ad367 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(122 211 103 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(174 243 158 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #aef39e var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: #7dd3fc var(--tw-gradient-to-position);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
a.animate-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
a.animate-underline .text-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #aef39e;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}
a.animate-underline:hover .text-underline {
  transform: scaleX(1);
  opacity: 1;
}

.header {
  font-size: 3.75rem;
  font-weight: 700;
}

.fade {
  opacity: 1;
  transition: opacity 200ms ease-out;
}
.fade:hover {
  opacity: 0.7;
}/*# sourceMappingURL=globals.css.map */