@tailwind base;
@tailwind components;
@tailwind utilities;

$text-link: #aef39e;
$text-highlight: #7ad367;
$text-header: #ffffffe6;
$text-body: #ffffff99;
$text-footer: #98a3b3;
$text-dangerous: #f87171;
$bg-primary: #111d25;
$bg-secondary: #1c2830;
$bg-tertiary: #202c34;
$border: #ffffff0d;
$black: #000;
$blue: #2c89e0;

@mixin text-gradient() {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    --tw-gradient-from: #7ad367 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(122 211 103 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(174 243 158 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #aef39e var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-to: #7dd3fc var(--tw-gradient-to-position);
    background-clip: text;
    color: transparent;
}

@mixin search-gradient() {
    background-image: linear-gradient(to bottom right, #7ad367, #7dd3fc);
    background-clip: text;
    color: transparent;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.preWhite { 
    white-space: pre; 
}

body {
    background-color: $bg-primary;
    overflow-x: hidden;
    padding-top: 55.375px;
}

p {
    color: $text-body;
}

hr {
    border: none;
    border-bottom: 1px solid $border;
}

::-webkit-scrollbar {
    width: 0.9rem;
    border-left: 1px solid $border;
}

::-webkit-scrollbar-thumb {
    border: 0.3rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba($text-footer, 0.5);
}

::-webkit-scrollbar-track {
    background-color: rgba($bg-secondary, 0.5);
}

dialog {
    opacity: 0;
    scale: 0;
    display: block;
    transition: scale 200ms ease-out, opacity 200ms ease-out;

    &[open] {
        opacity: 1;
        scale: 1;
        box-shadow: 0px 0px 0px 100vw rgba($black, 0.8);
    }
}

.markdown {
    h1 {
        @include text-gradient();
        font-size: 3.75rem;
        font-weight: 700;
    }

    a,
    p {
        font-size: 1rem;
    }

    a {
        color: $blue;
    }

    p {
        color: $text-body;
    }
}

.gradient {
    @include text-gradient();
}

.search-gradient {
    @include search-gradient();
}

a {
    &.link {
        @include text-gradient();
    }

    &.animate-underline {
        cursor: pointer;
        display: inline-block;
        position: relative;

        .text-underline {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $text-link;
            transform: scaleX(0);
            opacity: 0;
            transition: transform 200ms ease-out, opacity 200ms ease-out;
        }

        &:hover {
            .text-underline {
                transform: scaleX(1);
                opacity: 1;
            }
        }
    }
}

.header {
    font-size: 3.75rem;
    font-weight: 700;
}

.fade {
    opacity: 1;
    transition: opacity 200ms ease-out;

    &:hover {
        opacity: 0.7;
    }
}